[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:colinspear/hugo-theme-cactus.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "content"]
	path = content
	url = git@github.com:colinspear/notes.git
